body {
	background: beige
	max-width: 900px;
}
.equipment {
	
	background-image: url(http://us.123rf.com/450wm/hchjjl/hchjjl1506/hchjjl150609068/41284120-dj-disk-doodle-drawing-seamless-pattern-background.jpg);
	border-color: black;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 50px;
	margin-right: 300px;
	margin-left: 200px;
}

.header {
	text-align: center;
	font-style: oblique;

}

a:link {
	color: green;
}

a:visited {
	color: blue;

