#hat {
	position: absolute;
  	left: 250px;
  	top: 75px;
}

#glasses {
	position: absolute;
  	left: 315px;
  	top: 250px;
  	z-index: 1;
}

#octopus {
	position: absolute;
  	left: 270px;
  	top: 150px;
}